<div class="conteudo">
    <div class="titulo">
        <h1>{{ titulo }}</h1>
    </div>
    <div class="integrantes">
        <div class="retrato">
            <img class="foto" src="../../assets/img/sobre/enzo.jpg">
            <h2>Enzo Costa</h2>
        </div>
        <div class="retrato">
            <img class="foto" src="../../assets/img/sobre/icaro.jpg">
            <h2>Ícaro Silva</h2>
        </div>
        <div class="retrato">
            <img class="foto" src="../../assets/img/sobre/vini.jpg">
            <h2>Vinícius C.</h2>
        </div>
        <div class="retrato">
            <img class="foto" src="../../assets/img/sobre/yuri.jpg">
            <h2>Yuri Martins</h2>
        </div>
        <p>{{ frase }}</p>
    </div>
    <div class="paragrafo">
        <p>{{ paragrafo }}</p>
    </div>
</div>
