<nav class="menu">
  <div class="nav-logo">
    <div class="logo">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2"/>
      </svg>
      <h1>Young Pulse _________________ _</h1> -->
      <img class="img" routerLink="/" src="../assets/img/arteVermelha.png">
    </div>
    <div class="mobile-button">
      <button>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
    </div>

  </div>
  


  <div class="nav-list">
    <ul>
      <li class="nav-item"><a class="nav-link" routerLink="" >Globalização</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="" >Nova Ordem Mundial</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="" >Corrupção</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="" >Estado/Governo</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/pobreza" >Pobreza</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="" >Dimensões da Sustentabilidade</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/sobre">Quem Somos</a></li>
    </ul>
  </div>
  
</nav>

<div class="fixo" [@routeAnimations]="getRouteAnimationData()">
<router-outlet></router-outlet>
</div>
